*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}
body{
    /* background: url(img/fondocato.png) no-repeat; */
    background-color: #363a40;
    /* background-color: #054EA7; */
    
}

.banner-container{
    display: flex;
    flex-direction: column;
    background: url(img/fondo_catolica1.jpg) no-repeat;
    min-height: 81vh;
    background-size: 100% 100%;
    background-position: center;
}
.banner-title{
    display: flex;
    justify-content: center;
    margin-top: 4%;
    color: #fff;
    font-weight: 600;
}
.banner-details{
    display: flex;
    margin-top: 4%;
    flex-direction: column;
    margin-left: 19%;
    margin-right: 41%;
}
.banner-description{
    color: #fff;
    font-size: 1.2em;
    margin-bottom: 7%;
}
.banner-description2{
    color: aliceblue;
    font-size: 1em;
    margin-bottom: 5%;
}

/* Funciones */
.header-functions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2%;
}
.line{
    background-color: #ffffff;
    height: 2px;
    margin-bottom: 2%;
}
.title-functions{
    color: #fff;
}
.card{
    box-shadow: 7px 7px 10px #000;
}
.cards-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.btn-functions-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
   
}
.btn-primary{
    margin-bottom: 2%;
    width: 100%;
}
/* Modal */
.modalmask {
    position: fixed;
    font-family: Arial, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalmask:target {
    opacity:1;
    pointer-events: auto;
}
.modalbox{
    width: 90%;
    height: 91%;
    position: relative;
    padding: 5px 20px 13px 20px;
    background: rgb(230, 230, 230);
    border-radius:3px;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.movedown {
    margin:2% auto;
}
.rotate {
    margin: 10% auto;
    -webkit-transform: scale(-5,-5);
    transform: scale(-5,-5);
}
.resize {
    margin: 10% auto;
    width:0;
    height:0;
}
.close {
    background: rgb(16, 16, 115);
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 4px;
    text-align: center;
    top: 4px;
    width: 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius:3px;
 
}
.close:hover {
    background: #334772;
    color: #FFFFFF;
}
.card-title-description{
    margin-top: 1%;
    margin-bottom: 1.5%;
    text-decoration: underline;
    color: #212529;
}
.modal-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;;
}
.modal-content-left{
    display: flex;
    flex-direction: column;
    width: 48%;
    height: 99%;
    margin-top: 0.5%;
    justify-content: center;
    margin-right: 2%;
}
.img-description{
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.modal-content-right{
    display: flex;
    flex-direction: column;
    width: 48%;
    height: 96%;
    margin-right: 2%;
}
.modal-details{
    display: flex;
    flex-direction: column;
    margin-bottom: 4%;
}
.modal-title{
    color: #212529;
    margin-bottom: 1%;
}
.modal-description{
    text-align: justify;
    top: 0;
    color: #75757D;
}
.details{
    color: #75757D;
}
.btn-car{
    background-color: #FFC800;
    font-weight: 600;
}
.btn-car:hover{
    background-color: rgb(219, 172, 1);
}
/* ----------------------------------------------------- */
/* login */
.form-login{
    display: flex;
    flex-direction: column;
    width: 50%; 
    justify-content: center;
    margin-top: 7%;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #fff;
    border-radius: 5px;
}
.login-container{
    display: flex;
    flex-direction: column;
    padding: 4%;
}
.close-container{
    display: flex;
    justify-content: right;
}
.close-login{
    display: flex;
    background: #d12d2d;
    color: #FFFFFF;
    line-height: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 27px;
    height: 27px;
    text-decoration: none;
    font-weight: bold;
    border-radius:3px;
}
.close-login:hover{
    background: #bd2626;
    color: #e7e7e7;
}
.login-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn-container{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
.btn-ingresar{
    display: flex;
    justify-content: center;
    width: 50%;
    background-color: rgb(219, 172, 1);
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 1%;
}
.btn-ingresar:hover{
    background-color: rgb(202, 158, 0);
    color: rgb(212, 212, 212);
}
.btn-recovery{
    display: flex;
    width: 100%;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    margin-top: 2%;
}
.register-details-container{
    display: flex;
    width: 100%;
    margin-top: 4%;
    justify-content: center;
}

.btn-detail-register{
    display: flex;
    text-decoration: none;
    margin-left: 1%;  
}





/* Modificaciones al bootstrap */
.color-nav{
    background: #CBD5D8;
}
.text-reset{
    text-decoration: none;
}
.nav-btn{
    background-color: #456099;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-btn:hover{
    background-color: #3B558E;
    color: #fff;
}
.car-icon{
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-left: 8px;
}